<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Desktop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- --------------------Nav Bar---------------- -->
    <nav>
        <div class="logo">
            <span>REMOTE DESKTOP APP</span>
        </div>
        <div class="right">
            <ul>
                <a href="">
                    <li>Overview</li>
                </a>
                <a href="">
                    <li>Git Link</li>
                </a>
            </ul>
        </div>
    </nav>

    <!-- --------------------SECTION---------------- -->
    <section class="container">
        <div class="box">
            Server
        </div>
        <div class="box">
            Client
        </div>
    </section>
</body>
</html>